{% extends 'registration/wrappers.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block form %}
<h2 class="text-center">Log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Log in" class="btn btn-primary w-100">
</form>
<p>Forgot password? <a href="{% url 'password_reset' %}">Reset it</a></p>
<hr>
<h5 class="text-center">Don't have an account?</h5>
<p class="text-center"><a href="{% url 'users:signup' %}?next={{ request.GET.next }}">Sign up</a></p>
{% endblock %}
