@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Varela+Round&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@400;600;700;800&display=swap'); */

:root {
  --heading: #1B1B1F;
  --sub_heading: #1B1B1F;
  --text: #535a66;
  --logo: #307FDB;
  --button_dark: #307FDB;
  --button_light: #388FF4;
  --link_dark: #307FDB;
  --link_light: #388FF4;
  --nav_dark: #535a66;
  --nav_light: #1B1B1F;
  --attention_dark: #C1DAFF;
  --attention_light: #D8E8FF;
  --attention_text: #0956AF;
  --splash_focus: #78290F;
}

body {
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

select.form-control, input.form-control, textarea.form-control {
  font-size: 1em;
}

.btn {
  font-size: 1em;
}

a, .btn-link {
  color: var(--link_dark);
}

a:hover, .btn-link:hover {
  text-decoration: none;
  color: var(--link_light);
}

h1, h2, h3 {
  font-weight: bold;
  color: var(--heading);
}

h4, h5, h6 {
  color: var(--sub_heading);
}

h1.title {
  font-size: 3em;
}


a.featured {
  color: var(--text)
}

a.featured:hover {
  color: var(--sub_heading);
}

.navbar-light .navbar-brand, .logo a {
  color: var(--logo);
  font-size: 1.5em;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.navbar-light .navbar-brand:hover {
  color: var(--logo);
  text-decoration: none;
}

.navbar-light .navbar-text {
  color: var(--text);
}

.logo a {
  font-size: 1.2em;
}

.logo a:hover {
  color: var(--logo);
}

.navbar-nav .nav-item a.nav-link {
  color: var(--nav_dark);
}

.navbar-nav .nav-item a.nav-link:hover {
  color: var(--nav_light);
}

.navbar-light .navbar-nav .show .nav-link {
  color: var(--nav_dark);
}

.user-nav {
  font-size: 0.9em;
}

.dropdown-menu {
  font-size: 1em;
}

.dropdown-item {
  color: var(--link_dark);
}

.dropdown-item:hover {
  color: var(--link_light);
}

.dropdown-item-text {
  color: var(--text);
}

.invitation {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  background: var(--button_dark);
  border: none;
}

.btn-primary:hover {
  background: var(--button_light);
}

.btn-attention {
  background: var(--attention_dark);
  color: var(--attention_text);
}

.btn-attention:hover {
  background: var(--attention_light);
  color: var(--attention_text);
}

.btn-attention.btn-order {
  background: var(--attention_dark);
  color: var(--attention_text);
  font-size: 26px;
}

.btn-attention.btn-order:hover {
  background: var(--attention_light);
  color: var(--attention_text);
}

.btn-outline-primary {
  border-color: var(--button_dark);
  color: var(--button_dark);
  background-color: white;
}

.btn-outline-primary:hover {
  background: #f8f9fa;
  border-color: var(--button_dark);
  color: var(--button_dark);
}

.btn-outline-primary.grey {
  border-color: #626d78;
  color: #626d78;
  background-color: white;
}

.btn-outline-primary.grey:hover {
  background: #f8f9fa;
  border-color: #434B53;
  color: #434B53;
}

.btn-light {
  color: var(--text);
  border: none;
}

.badge.badge-success.message {
  font-weight: normal;
  margin-bottom: -1px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

div.dropdown-menu a:active {
  background: var(--attention_light);
}

.navbar-expand .navbar-nav .dropdown-menu {
  z-index: 90000;
}

.supplier-name {
  color: var(--text);
}

.badge-info {
  background: white;
  border: 1px solid var(--attention_dark);
  color: var(--attention_text);
  font-weight: normal;
  font-size: 0.8em;
}

.location {
  width: 120px;
}

.text-focus {
  color: var(--splash_focus);
}

.text-description {
  color: var(--sub_heading);
}

.text-grey {
  color: var(--text);
}

.card-text-details {
  line-height: 0.9em;
}
