body {
  color: #2D3033;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Segoe UI", Geneva, Frutiger, Verdana, "Helvetica Neue", Arial, sans-serif;
  /* font-size: 14px; */
}

p {
  color: #626d78;
}

a, .btn-link {
  color: steelblue;
}

a:hover, .btn-link:hover {
  text-decoration: none;
  color: #123048;
}

.splash-title {
  line-height: normal;
}

.jumbotron-splash {
  background-image: url('splash_4.png');
  background-repeat: no-repeat;
  background-position: right;
}

.navbar-light .navbar-brand, .logo a {
  color: steelblue;
  font-size: 1.5em;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.navbar-light .navbar-brand:hover {
  color: steelblue;
  text-decoration: none;
}

.navbar-light .navbar-text {
  color: #626d78;
}

.logo a {
  font-size: 1.2em;
}

.logo a:hover {
  color: steelblue;
}

.navbar-nav .nav-item a.nav-link {
  color: steelblue;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: #123048;;
}

.invitation {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background: steelblue;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary:hover {
  background: #4E95D1;
}

.btn-outline-primary {
  border-color: steelblue;
  color: steelblue;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.btn-outline-primary:hover {
  background: #f8f9fa;
  border-color: steelblue;
  color: steelblue;
}

.btn-primary.green {
  background: #00A65B;
}

.btn-primary.green:hover {
  background: #00BD68;
}

.btn-outline-primary.grey {
  border-color: #626d78;
  color: #626d78;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.btn-outline-primary.grey:hover {
  background: #f8f9fa;
  border-color: #434B53;
  color: #434B53;
}

.btn-light {
  color: steelblue;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-light:hover {
  color: #123048;
}

.badge.badge-success.message {
  font-weight: normal;
  margin-bottom: -1px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
