body {
  color: #2D3033;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Segoe UI", Geneva, Frutiger, Verdana, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

p {
  color: #626d78;
}

a, .btn-link {
  color: steelblue;
}

a:hover, .btn-link:hover {
  text-decoration: none;
  color: #123048;
}

h1, h2, h3 {
  line-height: 2em;
}

h2.splash-title {
  line-height: normal;
  cursor: default;
}

h6.splash-title {
  line-height: 2.5em;
}

.jumbotron-splash {
  background-image: url('splash_3.png');
  background-repeat: no-repeat;
  background-position: right;
}

.navbar-light .navbar-brand, .logo a {
  color: steelblue;
  font-size: 1.5em;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.navbar-light .navbar-brand:hover {
  color: steelblue;
  text-decoration: none;
}

.logo a {
  font-size: 1.2em;
}

.logo a:hover {
  color: steelblue;
}

.navbar-nav .nav-item a.nav-link {
  color: steelblue;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: #123048;;
}

.invitation {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background: steelblue;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary:hover {
  background: #4E95D1;
}

.btn-outline-primary {
  border-color: steelblue;
  color: steelblue;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.btn-outline-primary:hover {
  border-color: steelblue;
  background: #4E95D1;
}

.btn-light {
  color: steelblue;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-light:hover {
  color: #123048;
}

.badge.badge-light.message {
  font-weight: normal;
  margin-bottom: -1px;
}
