@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Varela+Round&display=swap');

:root {
    /* --heading: #3B4362; */
    --heading: #303B66;
    /* --sub_heading: #4E5672; */
    --sub_heading: #3E4C7C;
    --text: #70747A;
    /* --logo: steelblue; */
    --logo: #3787CA;
    /* --button_dark: steelblue; */
    --button_dark: #3787CA;
    /* --button_light: #619BC3; */
    --button_light: #3595E4;
    /* --link_dark: steelblue; */
    --link_dark: #3787CA;
    /* --link_light: #619BC3; */
    --link_light: #3595E4;
    --nav_dark: #303B66;
    --nav_light: #3E4C7C;
}

body {
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

a, .btn-link {
  color: var(--link_dark);
}

a:hover, .btn-link:hover {
  text-decoration: none;
  color: var(--link_light);
}

h1, h2, h3 {
  color: var(--heading);
  line-height: normal;
  margin-bottom: 1.5em;
}

h4, h5, h6 {
  color: var(--sub_heading);
  line-height: normal;
}

.splash-title {
  line-height: normal;
}

.splash-subtitle {
  color: var(--sub_heading)
}

.jumbotron-splash {
  background-image: url('splash_4.png');
  background-repeat: no-repeat;
  background-position: right;
}

.navbar-light .navbar-brand, .logo a {
  color: var(--logo);
  font-size: 1.5em;
  /* font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; */
  font-family: 'Varela Round', "Arial Rounded MT Bold", "Helvetica Rounded", sans-serif;
  font-weight: bold;
}

.navbar-light .navbar-brand:hover {
  color: var(--logo);
  text-decoration: none;
}

.navbar-light .navbar-text {
  color: var(--text);
}

.logo a {
  font-size: 1.2em;
}

.logo a:hover {
  color: var(--logo);
}

.navbar-nav .nav-item a.nav-link {
  color: var(--nav_dark);
}

.navbar-nav .nav-item a.nav-link:hover {
  color: var(--nav_light);
}

.invitation {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background: var(--button_dark);
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary:hover {
  background: var(--button_light);
}

.btn-outline-primary {
  border-color: var(--button_dark);
  color: var(--button_dark);
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.btn-outline-primary:hover {
  background: #f8f9fa;
  border-color: var(--button_dark);
  color: var(--button_dark);
}

.btn-outline-primary.grey {
  border-color: #626d78;
  color: #626d78;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.btn-outline-primary.grey:hover {
  background: #f8f9fa;
  border-color: #434B53;
  color: #434B53;
}

.btn-light {
  color: var(--text);
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-light:hover {
  color: var(--heading);
}

.badge.badge-success.message {
  font-weight: normal;
  margin-bottom: -1px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
