@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Varela+Round&display=swap');

:root {
    --heading: #2D3142;
    --sub_heading: #414655;
    --text: #70747A;
    --logo: #3787CA;
    --button_dark: #3787CA;
    --button_light: #4693CF;
    --link_dark: #3787CA;
    --link_light: #60A9D9;
    --nav_dark: #4693CF;
    --nav_light: #60A9D9;
    --attention_dark: #FFBA08;
    --attention_light: #FFC518;
    --attention_text: #392900;
}

body {
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

a, .btn-link {
  color: var(--link_dark);
}

a:hover, .btn-link:hover {
  text-decoration: none;
  color: var(--link_light);
}

h1, h2, h3 {
  color: var(--heading);
  line-height: normal;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
}

h4, h5, h6 {
  color: var(--sub_heading);
  line-height: normal;
}

.splash-title {
  line-height: normal;
}

.splash-subtitle {
  color: var(--sub_heading)
}

.jumbotron-splash {
  /* background-image: url('splash_4.png'); */
  background-repeat: no-repeat;
  background-position: right;
}

a.featured {
  color: var(--text)
}

a.featured:hover {
  color: var(--sub_heading);
}

.navbar-light .navbar-brand, .logo a {
  color: var(--logo);
  font-size: 1.5em;
  /* font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; */
  font-family: 'Varela Round', "Arial Rounded MT Bold", "Helvetica Rounded", sans-serif;
}

.navbar-light .navbar-brand:hover {
  color: var(--logo);
  text-decoration: none;
}

.navbar-light .navbar-text {
  color: var(--text);
}

.logo a {
  font-size: 1.2em;
}

.logo a:hover {
  color: var(--logo);
}

.navbar-nav .nav-item a.nav-link {
  color: var(--nav_dark);
}

.navbar-nav .nav-item a.nav-link:hover {
  color: var(--nav_light);
}

.navbar-light .navbar-nav .show>.nav-link {
  color: var(--nav_dark);
}

.invitation {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  background: var(--button_dark);
  border: none;
}

.btn-primary:hover {
  background: var(--button_light);
}

.btn-attention {
  background: var(--attention_dark);
  color: var(--attention_text);
}

.btn-attention:hover {
  background: var(--attention_light);
  color: var(--attention_text);
}

.btn-outline-primary {
  border-color: var(--button_dark);
  color: var(--button_dark);
  background-color: white;
}

.btn-outline-primary:hover {
  background: #f8f9fa;
  border-color: var(--button_dark);
  color: var(--button_dark);
}

.btn-outline-primary.grey {
  border-color: #626d78;
  color: #626d78;
  background-color: white;
}

.btn-outline-primary.grey:hover {
  background: #f8f9fa;
  border-color: #434B53;
  color: #434B53;
}

.btn-light {
  color: var(--text);
  border: none;
}

.btn-light:hover {
  color: var(--link_light);
}

.badge.badge-success.message {
  font-weight: normal;
  margin-bottom: -1px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
