{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}Order{% endblock %}

{% block content %}

<div class="container-fluid my-5">

  <div class="row">

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <div class="jumbotron bg-white">
        <h3 class="text-center">Thanks!</h3>
        <p>Thank you for your feedback. It helps us make Meal Hippo better.</p>
        <a href="{% url 'webplatform:order_items_view' %}" class="btn btn-primary btn-block">Back to dishes</a>
      </div>
    </div>

  </div>

</div>

{% endblock %}
