{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}


{% comment %}
<div class="container">

  <div class="row mt-4 mb-5">

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">

      <h3>

        <p>Hi everyone&mdash;</p>

        <p>There are so many great food providers in your city.</p>

        <p>We want to make it easy for you to get great food day-to-day. The kind of food that you’d make yourself, if you had the time, effort, and skills to do so, every day.</p>

        <p>We’ve compiled a list of local businesses that offer the kind of food that works well for home use.</p>

        <p><a href="{% url 'webplatform:list_view' %}">More <i class="fas fa-long-arrow-alt-right"></i></a></p>

      </h3>

    </div>

  </div>

</div>

<div class="container">
  <hr>
</div>
{% endcomment %}



<!-- <div class="jumbotron jumbotron-fluid bg-white text-center text-sm-left pb-0"> -->
<div class="jumbotron jumbotron-fluid bg-white text-center pb-0">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-9"> -->
      <div class="col">
        <!-- <h1 class="mb-4">Order home-style food from chefs and caterers in your area</h1> -->
        <h1 class="title mb-4">Lunches and suppers, without cooking</h1>
        <h3 class="mb-4">
          Get casserole-size meals from local caterers delivered to you.
        </h3>
        <h5>
          <span class="badge badge-pill badge-info p-2 px-3 mb-3"><i class="fas fa-check"></i>&nbsp;&nbsp;Bulk portions for multiple meals</span>&nbsp;
          <span class="badge badge-pill badge-info p-2 px-3 mb-3"><i class="fas fa-check"></i>&nbsp;&nbsp;No prep</span>&nbsp;
          <span class="badge badge-pill badge-info p-2 px-3 mb-3"><i class="fas fa-check"></i>&nbsp;&nbsp;Ready to eat</span>
        </h5>
        <!-- <p>
          Great home-style food you want to eat everyday<br>
          Fully cooked, prepared, and ready to eat&mdash;no prep, no cooking<br>
          Made to order with fresh ingredients by local, independent chefs and caterers<br>
          Subscribe to automate weekly orders
        </p> -->

        <div class="mt-4">
          <a href="{% url 'webplatform:order_items_view' %}" class="btn btn-attention btn-lg btn-order" role="button">Order food</a>
          {% if user.is_authenticated and free_delivery or not user.is_authenticated %}<br><small>Free delivery with first order</small>{% endif %}
        </div>
        <div class="mt-3 mb-4">
          <a href="{% url 'webplatform:support_view' %}" class="btn btn-light" role="button">Learn more</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="card-group shadow">
    {% for item in items %}
      <div class="card border-top-0 border-bottom-0 border-left-0">
        <a href="{% url 'webplatform:order_items_view' %}" class="featured">
          <img src="{% static 'webplatform/'|add:item.name|add:'.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">{{ item.name }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
      <div class="my-auto mx-auto text-center"><a href="{% url 'webplatform:order_items_view' %}" class="py-2 px-4" data-toggle="tooltip" data-placement="bottom" title="See all dishes"><i class="fas fa-angle-right"></i></a></div>
  </div>
  <div class="my-5 text-center">
    <a href="{% url 'webplatform:order_items_view' %}" class="btn btn-primary" role="button">See all dishes</a>
  </div>
</div>


<div class="jumbotron jumbotron-fluid bg-light mb-0">

  <div class="container">

    <h3 class="text-center mb-5">How can I use Meal Hippo?</h3>
    <h5 class="text-center mb-3">Meal Hippo offers casserole-size dishes that replace regular cooking at home.</h5>
    <h5 class="text-center mb-5">Save time and effort. Order here and cook less.</h5>

    <div class="card-deck">
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title">Meal prep lunches&nbsp;&nbsp;<span class="text-grey"><i class="fas fa-box"></i></span></h5>
          <p class="card-text">Get one large multi-portion dish at the beginning of the week and use it for packed lunches.</p>
        </div>
      </div>
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title">Family dinners&nbsp;&nbsp;<span class="text-grey"><i class="fas fa-utensils"></i></span></h5>
          <p class="card-text">Take a few nights off from cooking dinner by getting ready-to-eat dishes delivered to your house.</p>
        </div>
      </div>
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title">Take a break on busy weeks&nbsp;&nbsp;<span class="text-grey"><i class="fas fa-couch"></i></span></h5>
          <p class="card-text">Get a few casserole-size meals delivered when you're busy. Plan ahead for busy weeks by ordering a few dishes ahead of time.</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <p><a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}" role="button">Get started</a></p>
    </div>

  </div>

</div>


<div class="jumbotron jumbotron-fluid bg-white mb-0">

  <div class="container">

    <h3 class="text-center mb-5">How does Meal Hippo work?</h3>
    <h5 class="text-center mb-5">Ordering with Meal Hippo is simple.</h5>

    <div class="card-deck mx-5">
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title">Order online&nbsp;&nbsp;<span class="text-grey"><i class="fas fa-laptop"></i> <small><i class="fas fa-mobile-alt"></i></small></span></h5>
          <p class="card-text">Choose from several dishes offered by caterers in your area.</p>
          <p class="card-text">Choose your delivery date and time.</p>
          <p class="card-text">Pay online.</p>
        </div>
      </div>
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title">Delivery&nbsp;&nbsp;<span class="text-grey"><i class="fas fa-shipping-fast"></i></span></h5>
          <p class="card-text">Your order is delivered to you, fresh.</p>
          <p class="card-text">We make sure you receive you order safely.</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <p><a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}" role="button">Get started</a></p>
    </div>

  </div>

</div>



{% comment %}
<div class="jumbotron jumbotron-fluid bg-light mb-0 text-right">
  <div class="container p-5">
    <h4>Real food you want to eat everyday</h4>
    <p>The food on Meal Hippo is made by caterers and chefs, who make the kind of food your mom would make&mdash;not restaurant food.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white mb-0 text-left">
  <div class="container p-5">
    <h4>Fully coooked and prepared&mdash;no prep, no cooking</h4>
    <p>The food on Meal Hippo is already fully cooked. No need to finish the cooking yourself.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light mb-0 text-right">
  <div class="container p-5">
    <h4>Subscribe for convenience</h4>
    <p>As an option, get your food order delivered weekly so you don't have to plan meals repeatedly.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-medium mb-0 text-center">
  <div class="container p-5 mb-5">
    <h3>How you can use Meal Hippo</h3>
    <div class="card-group shadow">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Meal prep lunches 📦</h5>
          <p class="card-text">Get one large multi-portion dish at the beginning of the week and use it for packed lunches.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Family dinners 🍽️</h5>
          <p class="card-text">Take a few nights off from cooking dinner by getting ready-to-eat dishes delivered to your house.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Take a break on busy weeks 🛋️</h5>
          <p class="card-text">Get a few meals delivered when you're busy. Plan ahead for busy weeks by ordering a few dishes ahead of time.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-3">
    <a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}" role="button">Get started</a>
  </div>
</div>
{% endcomment %}

{% endblock %}
