{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-white text-center text-sm-left pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="mb-4">Get home-style cooking from chefs and caterers in your area delivered to you</h1>
        <!-- <h3 class="mb-5">Fresh, easy food for people who don't particularly like to cook.</h3> -->
        <h5>Real food you want to eat everyday</h5>
        <h5>Made to order with fresh ingredients by chefs in your area</h5>
        <h5>Fully cooked and prepared&mdash;no prep, no cooking</h5>
        <h5>Choose a one-time order or a subscription</h5>
        <!-- <h6>Cooked and ready-to-eat food from chefs in your area, delivered to you</h6> -->
        <!-- <h6 class="mb-5">Choose a one-time order or a subscription</h6> -->
        <p class="mt-4">
          <a href="{% url 'webplatform:order_items_view' %}" class="btn btn-attention btn-lg" role="button">Explore dishes</a>
          {% if user.is_authenticated and free_delivery or not user.is_authenticated %}<br><small>Free delivery with first order</small>{% endif %}
        </p>
        <p>
          <a href="{% url 'webplatform:support_view' %}" class="btn btn-outline-primary grey" role="button">Learn more</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="card-group shadow-sm">
    {% for item in items %}
      <div class="card">
        <a href="{% url 'webplatform:order_items_view' %}" class="featured">
          <img src="{% static 'webplatform/'|add:item.name|add:'.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">{{ item.name }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    <a href="{% url 'webplatform:order_items_view' %}" class="py-5 px-4 my-auto" data-toggle="tooltip" data-placement="bottom" title="More dishes"><i class="fas fa-angle-right"></i></a>
  </div>
  <div class="my-5 text-center">
    <a href="{% url 'webplatform:order_items_view' %}" class="btn btn-attention" role="button">See all dishes</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-medium mb-0">
  <div class="container mb-5">
    <h3 class="text-center mb-5">How it works</h3>
    <div class="card-deck">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Choose a dish 🍲</h5>
          <p class="card-text">Choose from several home-style dishes offered by chefs in your area.</p>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Your order is delivered directly to you 🚗</h5>
          <p class="card-text">Delivery to your door is part of each order.</p>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Choose a one-time order or a subscription 👍</h5>
          <p class="card-text">You can order one at a time, or subscribe to weekly orders.</p>
          <p class="card-text">If you subscribe, you can choose a different dish when you want, and cancel any time.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center mb-3">
    <a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}" role="button">Get started</a>
  </div>
</div>

{% comment %}
<div class="jumbotron jumbotron-fluid bg-light mb-0 text-right">
  <div class="container p-5">
    <h4>Real food you want to eat everyday</h4>
    <p>The food on Meal Hippo is made by caterers and chefs, who make the kind of food your mom would make&mdash;not restaurant food.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white mb-0 text-left">
  <div class="container p-5">
    <h4>Fully coooked and prepared&mdash;no prep, no cooking</h4>
    <p>The food on Meal Hippo is already fully cooked. No need to finish the cooking yourself.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light mb-0 text-right">
  <div class="container p-5">
    <h4>Subscribe for convenience</h4>
    <p>As an option, get your food order delivered weekly so you don't have to plan meals repeatedly.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-medium mb-0 text-center">
  <div class="container p-5 mb-5">
    <h3>How you can use Meal Hippo</h3>
    <div class="card-group shadow">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Meal prep lunches 📦</h5>
          <p class="card-text">Get one large multi-portion dish at the beginning of the week and use it for packed lunches.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Family dinners 🍽️</h5>
          <p class="card-text">Take a few nights off from cooking dinner by getting ready-to-eat dishes delivered to your house.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Take a break on busy weeks 🛋️</h5>
          <p class="card-text">Get a few meals delivered when you're busy. Plan ahead for busy weeks by ordering a few dishes ahead of time.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-3">
    <a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}" role="button">Get started</a>
  </div>
</div>
{% endcomment %}

{% endblock %}
