{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Dishes{% endblock %}

{% block content %}

<div class="container-fluid mt-3 mb-5">

  <div class="row">

    {% if order_items %}
      <div class="col-8">
    {% else %}
      <div class="col">
    {% endif %}



      <div class="container-fluid p-0">
        {% for active_supplier in active_suppliers %}
          <h4>{{ active_supplier.business_name }}</h4>
          <div class="row m-0 p-0">
              {% for item in active_supplier.item_set.all %}
                <div class="col-lg-6 col-12 mb-3 m-0 p-0">
                  <div class=" mr-3 p-3 border rounded">
                    {% comment %}<img class="card-img-top" src="..." alt="Card image cap">{% endcomment %}
                    <!-- <div class="card-body"> -->
                      <h5 class="card-title">{{ item.name }}</h5>
                      <p class="card-text">{{ item.description }}</p>
                    <!-- </div> -->
                    <!-- <div class="card-footer bg-white"> -->
                      <p class="card-text">${{ item.price|floatformat:2|intcomma }}</p>
                      {% if user.is_authenticated %}
                        <a href="{{ item.get_add_to_order_url }}" class="btn btn-primary w-100">Add</a>
                      {% else %}
                        <a href="{% url 'login' %}?next={% url 'webplatform:order_items_view' %}" class="btn btn-primary w-100">Add to order</a>
                      {% endif %}
                    <!-- </div> -->
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endfor %}
      </div>

    </div> <!-- col 1 -->

    {% if order_items %}

      <div class="col-4">
        <div class="sticky-top">
          <h5>
            Your order
            {% if messages %}
              {% for message in messages %}
                <span class="badge badge-light message">{{ message }}</span>
              {% endfor %}
            {% endif %}
          </h5>
          <div class="container">
            {% for order_item in order_items %}
              <div class="row py-2">
                <div class="col-xl-6 text-xl-left px-0">
                  {{ order_item.item.name }} <small class="mr-3">${{ order_item.item.price|floatformat:2|intcomma }}</small>
                </div>
                <div class="col-xl-3 text-xl-center px-0">
                  <a href="{{ order_item.item.get_remove_from_order_url }}"><i class="fas fa-minus"></i></a>
                  <span class="badge badge-secondary">{{ order_item.quantity }}</span>
                  <a href="{{ order_item.item.get_add_to_order_url }}"><i class="fas fa-plus"></i></a>
                </div>
                <div class="col-xl-3 text-xl-right px-0">
                  ${{ order_item.get_total_item_price|floatformat:2|intcomma }}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="container">
            <div class="row border-top py-2">
              <div class="col text-xl-right px-0">
                ${{ order.get_total_order_price|floatformat:2|intcomma }}
              </div>
            </div>
          </div>
          <a href="{% url 'webplatform:order_timing_view' %}" class="btn btn-primary w-100">Checkout</a>
        </div>
      </div>

    {% endif %}

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}
