{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}Order{% endblock %}

{% block content %}

<style type="text/css">
	/*
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>


<div class="container-fluid my-5">
  <div class="row">

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      {% if order.to_be_delivered %}
        <p>Step <b>3 of 3</b> <small>... this is the last step!</small></p>
      {% else %}
        <p>Step <b>2 of 2</b> <small>... this is the last step!</small></p>
      {% endif %}

      <h3 class="mb-4">Order summary and payment</h3>

      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      {% if not order.to_be_delivered %}
        <div class="card mb-4">
          <div class="card-body">
            <p><b>Pick up location</b></p>
            <p>
              Nak's Bistro & Catering<br>
              10451 172 St NW, Edmonton
            </p>
          </div>
        </div>
      {% endif %}

      <div class="card mb-4">
        <div class="card-body">
					<div class="container">
            {% for order_item in order_items %}
              <div class="row py-2">
                <div class="col-6 text-left px-0">
                  {{ order_item.item.name }} <small class="mr-3">${{ order_item.item.price|floatformat:2|intcomma }}</small>
                </div>
                <div class="col-3 text-center px-0">
                  <span class="badge badge-secondary">{{ order_item.quantity }}</span>
                </div>
                <div class="col-3 text-right px-0">
                  ${{ order_item.get_total_item_price|floatformat:2|intcomma }}
                </div>
              </div>
            {% endfor %}
            <div class="row py-2">
              <div class="col-6 text-left px-0">
                Service fee <small><span data-toggle="tooltip" data-placement="bottom" title="Covers costs related to payment transactions, servers, and software development"><i class="fas fa-info-circle"></i></span></small>
              </div>
              <div class="col-6 text-right px-0">
                ${{ order.get_order_web_fee|floatformat:2|intcomma }}
              </div>
            </div>
            {% if order.to_be_delivered %}
            <div class="row py-2">
              <div class="col-6 text-left px-0">
                {% if user.is_authenticated and free_delivery or not user.is_authenticated %}
                  <s>Delivery</s>
                {% else %}
                  Delivery
                {% endif %}
              </div>
              <div class="col-6 text-right px-0">
                {% if user.is_authenticated and free_delivery or not user.is_authenticated %}
                  <s>$6.00</s>
                  <br>
                  <small>Free delivery with first order</small>
                {% else %}
                  $6.00
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col px-0">
                <hr>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-6 text-left px-0">
                Subtotal
              </div>
              <div class="col-6 text-right px-0">
                ${{ order.get_order_subtotal|floatformat:2|intcomma }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-6 text-left px-0">
                GST (5%)
              </div>
              <div class="col-6 text-right px-0">
                ${{ order.get_order_gst|floatformat:2|intcomma }}
              </div>
            </div>
            <div class="row">
              <div class="col px-0">
                <hr>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-6 text-left px-0">
                Total
              </div>
              <div class="col-6 text-right px-0">
                ${{ order.get_order_total|floatformat:2|intcomma }}
              </div>
            </div>
						<div class="row">
							<div class="col px-0 text-center">
								<p><small><a href="{% url 'webplatform:order_items_view' %}">Change</a></small></p>
							</div>
						</div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <script src="https://js.stripe.com/v3/"></script>

          <form action="" method="post" id="payment-form">
            {% csrf_token %}
            <div class="mb-3">
            	<label for="card-element">
            		Credit or debit card
            	</label>
            	<div id="card-element">
            		<!-- A Stripe Element will be inserted here. -->
            	</div>

            	<!-- Used to display form errors. -->
            	<div id="card-errors" role="alert"></div>
            </div>

            <button class="btn btn-attention btn-block">Pay ${{ order.get_order_total|floatformat:2|intcomma }}</button>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>

<script>
	// Create a Stripe client.
	var stripe = Stripe('{{ stripe_pk }}');

	// Create an instance of Elements.
	var elements = stripe.elements();

	// Custom styling can be passed to options when creating an Element.
	// (Note that this demo uses a wider set of styles than the guide below.)
	var style = {
	  base: {
	    color: '#32325d',
	    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
	    fontSmoothing: 'antialiased',
	    fontSize: '16px',
	    '::placeholder': {
	      color: '#aab7c4'
	    }
	  },
	  invalid: {
	    color: '#fa755a',
	    iconColor: '#fa755a'
	  }
	};

	// Create an instance of the card Element.
	var card = elements.create('card', {style: style});

	// Add an instance of the card Element into the `card-element` <div>.
	card.mount('#card-element');

	// Handle real-time validation errors from the card Element.
	card.addEventListener('change', function(event) {
	  var displayError = document.getElementById('card-errors');
	  if (event.error) {
	    displayError.textContent = event.error.message;
	  } else {
	    displayError.textContent = '';
	  }
	});

	// Handle form submission.
	var form = document.getElementById('payment-form');
	form.addEventListener('submit', function(event) {
	  event.preventDefault();

	  stripe.createToken(card).then(function(result) {
	    if (result.error) {
	      // Inform the user if there was an error.
	      var errorElement = document.getElementById('card-errors');
	      errorElement.textContent = result.error.message;
	    } else {
	      // Send the token to your server.
	      stripeTokenHandler(result.token);
	    }
	  });
	});

	// Submit the form with the token ID.
	function stripeTokenHandler(token) {
	  // Insert the token ID into the form so it gets submitted to the server
	  var form = document.getElementById('payment-form');
	  var hiddenInput = document.createElement('input');
	  hiddenInput.setAttribute('type', 'hidden');
	  hiddenInput.setAttribute('name', 'stripeToken');
	  hiddenInput.setAttribute('value', token.id);
	  form.appendChild(hiddenInput);

	  // Submit the form
	  form.submit();
	}
</script>

{% endblock %}
