{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Order{% endblock %}

{% block content %}

<div class="container-fluid bg-light py-3">

  <div class="row">

    {% if order_items %}
      <div class="col-8 pr-0">
    {% else %}
      <div class="col pr-0">
    {% endif %}

        <div class="container-fluid p-0">

          <!-- <h5 class="mt-2 mb-4 supplier-name">Nak's Bistro & Catering</h5> -->

          <div class="row m-0 p-0">
            {% for item in active_items %}
              <div class="col-lg-4 col-md-6 col-12 mb-3 m-0 p-0">
                <div class="card mr-3 border rounded shadow-sm">
                  <img src="{% static 'webplatform/'|add:item.name|add:'.png' %}" class="card-img-top" alt="...">
                  <div class="card-body p-3">
                    <p class="text-center border rounded"><small>{{ item.supplier.business_name }}</small></p>
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text text-description">{{ item.description }}</p>
                    <p class="card-text text-focus">{% if not order_items %}{% endif %}${{ item.price|floatformat:2|intcomma }} <small>/ portion</small>{% if not order_items %}{% endif %}</p>
                    <p class="card-text"><small>
                      {% if item.calories %}Calories: {{ item.calories }} kcal/portion <small><span data-toggle="tooltip" data-placement="bottom" title="Provided by the caterer"><i class="fas fa-info-circle"></i></span></small>{% endif %}{% comment %}{% if item.protein %} &emsp; Protein: {{ item.protein }} g &emsp; {% endif %}{% if item.fat %}Fat: {{ item.fat }} g &emsp; {% endif %}{% if item.carbs %}Carbs: {{ item.carbs }} g{% endif %}{% endcomment %}
                    </small></p>
                    <p class="card-text"><small>
                      {% if item.portion_size %}Portion size: {{ item.portion_size }} <small><span data-toggle="tooltip" data-placement="bottom" title="Provided by the caterer"><i class="fas fa-info-circle"></i></span></small>{% endif %}
                    </small></p>
                    <p class="card-text"><small>
                      Minimum {{ item.minimum_portions }} {% if item.minimum_portions > 1 %}portions{% else %}portion{% endif %}
                      {% if item.portion_increment > 1 %} | Portions in multiples of {{ item.portion_increment }}{% endif %}
                    </small></p>
                    <p class="card-text"><small>Order at least {{ item.minimum_lead_time }} {% if item.minimum_lead_time > 1 %}days{% else %}day{% endif %} in advance</small></p>
                    {% if user.is_authenticated %}
                      <a href="{{ item.get_add_to_order_url }}" class="btn btn-primary btn-block">Add to order</a>
                    {% else %}
                      <a href="{% url 'login' %}?next={% url 'webplatform:order_items_view' %}" class="btn btn-primary btn-block">Add to order</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>

    {% if order_items %}

      <div class="col-4">
        <div class="sticky-top">
          <h5>
            Your order
            {% if messages %}
              {% for message in messages %}
                <span class="badge badge-success message">{{ message }}</span>
              {% endfor %}
            {% endif %}
          </h5>

          <hr>

          {% comment %}{% if order.to_be_delivered %}
            <div class="row">
              <div class="col-xl my-1"><a class="btn btn-sm btn-outline-primary btn-block disabled" role="button"><small><i class="fas fa-check"></i> Delivery</small></a></div>
              <div class="col-xl my-1"><a class="btn btn-sm btn-attention btn-block" href="{% url 'webplatform:to_be_delivered_toggle' %}" role="button"><small>Pick up</small></a></div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-xl my-1"><a class="btn btn-sm btn-attention btn-block" href="{% url 'webplatform:to_be_delivered_toggle' %}" role="button"><small>Delivery</small></a></div>
              <div class="col-xl my-1"><a class="btn btn-sm btn-outline-primary btn-block disabled" role="button"><small><i class="fas fa-check"></i> Pick up</small></a></div>
            </div>
            <div class="mt-3">
              <small>
                <b>Pick up location</b>
                <p>Nak's Bistro & Catering<br>
                  10451 172 St NW, Edmonton<br>
                  <a href="https://g.page/nakscatering?share" target="_blank">Map</a>
                </p>
              </small>
            </div>
          {% endif %}

          <hr>{% endcomment %}

          <div class="container">
            {% for order_item in order_items %}
              <div class="row pt-2">
                <div class="col-xl-6 text-xl-left px-0">
                  {{ order_item.item.name }} <small class="mr-3">${{ order_item.item.price|floatformat:2|intcomma }}</small>
                </div>
                <div class="col-xl-3 text-xl-center px-0">
                  <a href="{{ order_item.item.get_remove_from_order_url }}"><small><i class="fas fa-minus"></i></small></a>
                  <span class="badge badge-secondary">{{ order_item.quantity }}</span>
                  <a href="{{ order_item.item.get_add_to_order_url }}"><small><i class="fas fa-plus"></i></small></a>
                </div>
                <div class="col-xl-3 text-xl-right px-0">
                  ${{ order_item.get_total_item_price|floatformat:2|intcomma }}
                </div>
              </div>
              <div class="row pb-2">

                {% if order_item.is_individual %}
                  <small><span data-toggle="tooltip" data-placement="bottom" title="Switch to all portions in one container"><a href="{% url 'webplatform:is_individual_toggle' order_item.pk %}"><i class="fas fa-sort"></i>&nbsp;&nbsp;</a></span>Individual containers</small>
                {% else %}
                  <small><span data-toggle="tooltip" data-placement="bottom" title="Switch to each portion in an individual container"><a href="{% url 'webplatform:is_individual_toggle' order_item.pk %}"><i class="fas fa-sort"></i>&nbsp;&nbsp;</a></span>One container</small>
                {% endif %}

              </div>
            {% endfor %}
            <div class="row py-2">
              <div class="col-xl-6 text-xl-left px-0">
                Service fee <small><span data-toggle="tooltip" data-placement="bottom" title="Covers costs related to payment transactions, servers, and software development"><i class="fas fa-info-circle"></i></span></small>
              </div>
              <div class="col-xl-6 text-xl-right px-0">
                ${{ order.get_order_web_fee|floatformat:2|intcomma }}
              </div>
            </div>
            {% if order.to_be_delivered %}
            <div class="row py-2">
              <div class="col-xl-6 text-xl-left px-0">
                {% if user.is_authenticated and free_delivery or not user.is_authenticated %}
                  <s>Delivery cost</s>
                {% else %}
                  Delivery cost
                {% endif %}
              </div>
              <div class="col-xl-6 text-xl-right px-0">
                {% if user.is_authenticated and free_delivery or not user.is_authenticated %}
                  <s>$7.00</s>
                  <br>
                  <small>Free delivery with first order</small>
                {% else %}
                  $7.00
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col px-0">
                <hr>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-xl-6 text-xl-left px-0">
                Subtotal
              </div>
              <div class="col-xl-6 text-xl-right px-0">
                ${{ order.get_order_subtotal|floatformat:2|intcomma }}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-xl-6 text-xl-left px-0">
                GST (5%)
              </div>
              <div class="col-xl-6 text-xl-right px-0">
                ${{ order.get_order_gst|floatformat:2|intcomma }}
              </div>
            </div>
            <div class="row">
              <div class="col px-0">
                <hr>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-xl-6 text-xl-left px-0">
                Total
              </div>
              <div class="col-xl-6 text-xl-right px-0">
                ${{ order.get_order_total|floatformat:2|intcomma }}
              </div>
            </div>
          </div>
          <div class="mt-3">
            <a href="{% url 'webplatform:order_timing_view' %}" class="btn btn-attention btn-block">Checkout</a>
          </div>
        </div>
      </div>

    {% endif %}

  </div>

</div>

{% endblock %}
