{% extends 'base.html' %}

{% load static %}

{% block title %}Support{% endblock %}

{% block content %}

<!-- Following this: https://support.stripe.com/questions/information-required-on-your-business-website-to-use-stripe -->

<div class="container mb-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <div class="jumbotron bg-white mb-0">
        <h3 class="text-center">How it works</h3>
        <h4>Meal Hippo connects you to chefs and caterers in your area, who offer home-style cooking that you can enjoy at home, or pack for lunch.</h4>
      </div>

      <div class="card-group mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Choose a dish 🍲</h5>
            <p class="card-text">Choose from several home-style dishes offered by chefs in your area.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your order is delivered directly to you 🚗</h5>
            <p class="card-text">Delivery to your door is part of each order.</p>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Choose a subscription or a one-time order 👍</h5>
          <p class="card-text">You can subscribe to weekly orders, or order one at a time.</p>
          <p class="card-text">If you subscribe, you can choose a different dish every week, or cancel any time.</p>
        </div>
      </div>

      <p>If you're not satisfied, just let us know and we'll give you your money back.</p>

      <h3>How big are the portions?</h3>
      <p>Each portion is about the size of an average lunch.</p>

      <h3>Where do the dishes come from?</h3>
      <p>All food is prepared by professional, independent chefs in your area.</p>

      <h3>Other details</h3>
      <p>All currency is in Canadian Dollars.</p>
      <p>All your data is kept private. We don't share it with anyone.</p>
      <p>All of your payments are processed securely using Stripe.</p>

      <div class="jumbotron bg-medium mt-5">
        <div class="containter align-content-stretch">
          <div class="row">
            <div class="col-md-8 text-center text-md-left my-auto">
              <h5 class="m-0 mb-4 mb-md-0">Have more questions?</h5>
            </div>
            <div class="col-md-4 text-center text-md-right my-auto">
              <a class="btn btn-primary" href="{% url 'webplatform:contact_view' %}" role="button">Contact&nbsp;us</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  <div class="col-2"></div>
</div>
</div>



<div class="jumbotron jumbotron-fluid bg-medium mb-0">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3>Get home-style cooking delivered to you.</h3>
        <p><a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}">Get started</a></p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

{% endblock %}
