{% extends 'base.html' %}

{% load static %}

{% block title %}Support{% endblock %}

{% block content %}

<!-- Following this: https://support.stripe.com/questions/information-required-on-your-business-website-to-use-stripe -->

<div class="container my-5">

  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">What is Meal Hippo?</h1>
      <!-- <p>Meal Hippo is a web application that connects you to chefs and caterers in your area, who offer home-style cooking that you can get delivered to enjoy at home.</p> -->
      <!-- <p>Meal Hippo is a platform for people who don't have time to cook at home to buy home-style, fully cooked and prepared, ready-to-eat food from caterers in their area.</p> -->
      <p>Meal Hippo is a platform that connects you to chefs and caterers in your area, who offer home-style cooking that you can get delivered to you at home.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">How does Meal Hippo work?</h1>
      <div class="row">
        <div class="col">
          <h5 class="mt-3 mb-4"><b>Step 1</b>&mdash;Build your order online</h5>
          <p>Choose from several home-style dishes offered by chefs in your area.</p>
          <p>Specify whether you would like your order delivered or if you would like to pick it up.</p>
          <p><a href="{% url 'webplatform:order_items_view' %}">Explore dishes</a></p>
        </div>
        <div class="col">
          <h5 class="mt-3 mb-4"><b>Step 2</b>&mdash;Checkout</h5>
          <p>Set the date and time that you would like to receive your order.</p>
          <p>If you chose delivery, select the location that you would like your order delivered to you.</p>
          <p>Finally, pay online using our secure payment system.</p>
        </div>
        <div class="col">
          <h5 class="mt-3 mb-4"><b>Step 3</b>&mdash;Receive your order</h5>
          <p>Your fresh, ready-to-eat food is delivered to you, or you pick it up at the supplier's location.</p>
          <p>We make sure you get your food safely.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="mt-3 mb-4"><b>Option</b>&mdash;Subscription</h5>
          <p>When you subscribe, you can set up weekly orders for a day of the week and time of the day of your choosing.</p>
          <p>In subsequent weeks, we'll email you a reminder before the day and time that you set. You can accept the upcoming order, change the dishes or timing, or skip that week.</p>
          <p>You can choose different dishes every week.</p>
          <p>Save 5% on every order when you subscribe.</p>
          <p>Cancel your subscription anytime.</p>
          <p>You can subscribe after logging in by clicking on the subscription toggle button in the navigation menu.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="mt-3 mb-4"><b>Guarantee</b></h5>
          <p>If you're not satisfied, just let us know and we'll give you a full refund.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">How big are the portions?</h1>
      <p>Portion sizes follow the amounts suggested by Dietitions of Canada's servings guide, based on the Canada Food Guide.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">Where do the dishes come from?</h1>
      <p>All food is prepared by professional, independent chefs or caterers in your area.</p>
      <p>The chef and cateter name is shown on the <a href="{% url 'webplatform:order_items_view' %}">dishes</a> page.
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">Where does the nutritional information come from?</h1>
      <p>The nutritional information (calories, protein, fat, and carbs) are provided by the chef or caterer.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">How does pricing work?</h1>
      <p>Chefs and caterers set their own prices for the items they sell. This is the price that's posted on the <a href="{% url 'webplatform:order_items_view' %}">dishes</a> page. Chefs and caterers receive 100% of their price.</p>
      <p>Meal Hippo applies a delivery fee, which covers the cost of delivery. This is applied when you choose to pick your order.</p>
      <p>Meal Hippo also applies a service fee, which covers Meal Hippo's costs associated with payment transactions, servers, and software development.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-4">Other details</h1>
      <p>All currency is in Canadian Dollars.</p>
      <p>All your data is kept private. We never share it with anyone.</p>
      <p>All of your payments are processed securely using Stripe.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 offset-md-1">
      <div class="jumbotron bg-medium mt-5">
        <div class="containter align-content-stretch">
          <div class="row">
            <div class="col-md-8 text-center text-md-left my-auto">
              <h5 class="m-0 mb-4 mb-md-0">Have more questions?</h5>
            </div>
            <div class="col-md-4 text-center text-md-right my-auto">
              <a class="btn btn-primary" href="{% url 'webplatform:contact_view' %}" role="button">Contact&nbsp;us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="jumbotron jumbotron-fluid bg-medium mb-0">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3 class="mb-4">Get home-style cooking delivered to you.</h3>
        <p><a class="btn btn-primary" href="{% url 'webplatform:order_items_view' %}">Get started</a></p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

{% endblock %}
